In [39]:
import pandas as pd
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

In [40]:
train = pd.read_csv('./data/train.csv')

In [41]:
train.columns

Index([u'Id', u'Open Date', u'City', u'City Group', u'Type', u'P1', u'P2', u'P3', u'P4', u'P5', u'P6', u'P7', u'P8', u'P9', u'P10', u'P11', u'P12', u'P13', u'P14', u'P15', u'P16', u'P17', u'P18', u'P19', u'P20', u'P21', u'P22', u'P23', u'P24', u'P25', u'P26', u'P27', u'P28', u'P29', u'P30', u'P31', u'P32', u'P33', u'P34', u'P35', u'P36', u'P37', u'revenue'], dtype='object')

In [42]:
train.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4,4,2,...,3.0,5,3,4,5,5,4,3,4,5653753
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4,4,1,...,3.0,0,0,0,0,0,0,0,0,6923131
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2,5,2,...,3.0,0,0,0,0,0,0,0,0,2055379
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6,6,4,...,7.5,25,12,10,6,18,12,12,6,2675511
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3,4,2,...,3.0,5,1,3,2,3,4,3,3,4316715

In [43]:
train_group = train.groupby(['Type', 'City Group', 'City'])

In [48]:
train_group.revenue.sum()

Type  City Group  City
DT    Big Cities  Ankara              3810007
FC    Big Cities  Ankara             36204583
                  İstanbul          160465262
                  İzmir              23358497
      Other       Antalya            13925793
                  Aydın               6859597
                  Bolu                4263629
                  Bursa              18378028
                  Denizli             2344689
                  Diyarbakır          9150675
                  Eskişehir           7718425
                  Karabük             3807496
                  Kayseri            13702727
                  Kocaeli             3745135
                  Konya               1882131
                  Kütahya             2993069
                  Kırklareli          1619683
                  Muğla               3570392
                  Osmaniye            3376145
                  Sakarya             8285280
                  Samsun             12990688
                  Tekirdağ            6526534
                  Trabzon             5787594
                  Uşak                1763231
                  Şanlıurfa           3261924
IL    Big Cities  Ankara             22218121
                  İstanbul          118425336
                  İzmir              24229640
      Other       Adana              14684833
                  Afyonkarahisar      4952497
                  Amasya              2954086
                  Balıkesir           4758476
                  Bursa               2083447
                  Diyarbakır          2055379
                  Edirne              5444227
                  Elazığ              5525735
                  Eskişehir           4155435
                  Gaziantep           4316715
                  Isparta             4015749
                  Kastamonu           3273041
                  Konya               3452382
                  Muğla               4651866
                  Sakarya             5030133
                  Samsun              3248660
                  Tekirdağ            3410878
                  Tokat               2675511
                  Trabzon             4780607
Name: revenue, dtype: float64